:root {
  --gutter: 20px;
}

.card {
  width: 280px;
  min-width: 280px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.card img {
  display: block;
  width: 260px;
  height: auto;
  margin-bottom: 5px;
}

.card p {
  padding: 0 5px;
  min-height: 3.5rem;
  margin: 0;
  text-align: center;
}
