:root {
  --gutter: 20px;
}

.card {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  object-fit: cover;
}

.card p {
  padding: 0 10px;
  min-height: 3.5rem;
  margin: 0;
  text-align: center;
}
