:root {
  --gutter: 20px;
}

.movies {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - (var(--gutter) / 4));
  grid-gap: calc(var(--gutter) / 2);
  
  overflow-x: auto;
  scroll-snap-type: x proximity;
  padding: 0 0 calc(.75 * var(--gutter)) 0;
  margin-bottom: calc(-.25 * var(--gutter));
}

.title {
  display: inline-block;
  border-bottom: 10px solid grey;
}

.filters {
  padding: 10px;
  display: flex;
  gap: 1rem;
}

.filters button {
  padding: 10px;
}

@media (min-width: 600px) {
  .movies {
    grid-auto-columns: calc((100% - (calc(var(--gutter) / 2) * 4)) / 5);
  }
}
